<!-- /* Copyright (C) Airbus Singapore Pte Ltd - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Hangar of The Future Team

 * This view is no longer in use as it has been integrated into finding.view.html for attaching picture to task
 */ -->
<div class='modal-header'>
  <h4 class='modal-title' id='modal-title'>SELECT ATTACHMENT</h4>
  <button type='button' class='close' ng-click='vm.Close()' aria-hidden='true'>&times;</button>
</div>
<div class='modal-body' id='modal-body'>
  <!-- <div class='container'> -->
    <div class='row' id='attachment-preview' ng-scrollbar scrollbar-x='false' scrollbar-y='true' scrollbar-config='{show:true, autoResize: true, dragSpeed: 1.2}'>
      <div class='col-md-6' ng-repeat='photo in vm.photoMgr.GetAll()'>
        <img data-ng-src='{{"data:" + photo.GetPreview().photoType + ";base64," +  photo.GetPreview().data}}' width='300' class='thumbnail' />
      </div>
    </div>
    <div class='row'>
      <div class='col text-right'>
        <button type='button' class='btn btn-primary margin-right-xl'>ATTACH</button>
      </div>
    </div>
  <!-- </div> -->
</div>
