<!-- /* Copyright (C) Airbus Singapore Pte Ltd - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Hangar of The Future Team
 */ -->

<div class='container task-card mx-auto' ng-controller='TaskController as TaskCtrl'>
  <div class='row task-header'>
    <div class='col-lg-3 col-md-3 col-sm-6 col-xs-6'>
      <a class='btn-link color-white' ui-sref='jobcard'><h2><i class='fas fa-chevron-circle-left'></i> <strong>BACK</strong></h2></a>
    </div>
    <div class='col-lg-9 col-md-9 col-sm-6 col-xs-6 text-right'>
      <div class='d-none d-lg-block'>
        <a class='btn btn-link color-white' ng-click='TaskCtrl.HandleFilter(0)'>
          <h2>
          <i class='fas'
            ng-class='{"fa-check-square color-blue" : TaskCtrl.filters.indexOf(0) > -1,
                        "fa-square" : TaskCtrl.filters.indexOf(0) === -1}'></i>
          UNSTARTED
          </h2>
        </a>
        <a class='btn btn-link color-white' ng-click='TaskCtrl.HandleFilter(2)'><h2>
          <i class='fas'
            ng-class='{"fa-check-square color-blue" : TaskCtrl.filters.indexOf(2) > -1,
                        "fa-square" : TaskCtrl.filters.indexOf(2) === -1}'></i>
          IN PROGRESS</h2></a>
        <a class='btn btn-link color-white' ng-click='TaskCtrl.HandleFilter(1)'><h2>
          <i class='fas'
            ng-class='{"fa-check-square color-blue" : TaskCtrl.filters.indexOf(1) > -1,
                        "fa-square" : TaskCtrl.filters.indexOf(1) === -1}'></i>
          COMPLETED</h2></a>
      </div>
      <div class='d-lg-none mt-3'>
        <a class='btn btn-default dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>
          <i class='fas fa-filter fa-2x'></i>
        </a>
        <ul class='dropdown-menu dropdown-menu-right'>
          <li>
            <a class='color-white' ng-click='TaskCtrl.HandleFilter(0)'><h3>
            <i class='fas'
              ng-class='{"fa-check-square color-blue" : TaskCtrl.filters.indexOf(0) > -1,
                          "fa-square" : TaskCtrl.filters.indexOf(0) === -1}'></i>
            UNSTARTED</h3></a>
          </li>
          <li>
            <a class='color-white' ng-click='TaskCtrl.HandleFilter(2)'><h3>
              <i class='fas'
                ng-class='{"fa-check-square color-blue" : TaskCtrl.filters.indexOf(2) > -1,
                            "fa-square" : TaskCtrl.filters.indexOf(2) === -1}'></i>
              IN PROGRESS</h3></a>
          </li>
          <li>
            <a class='color-white' ng-click='TaskCtrl.HandleFilter(1)'><h3>
              <i class='fas'
                ng-class='{"fa-check-square color-blue" : TaskCtrl.filters.indexOf(1) > -1,
                            "fa-square" : TaskCtrl.filters.indexOf(1) === -1}'></i>
              COMPLETED</h3></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class='row task-content mt-0'>
    <div class='row d-lg-none'>
      <ul class='list-inline color-white mt-1 mx-auto'>
        <!-- <li class='list-inline-item mr-1 mt-0 w-5 align-top'>
          <strong><i class='fas fa-clipboard-list fa-2x'></i></strong>
        </li> -->
        <li class='list-inline-item mr-1 w-40 align-top mr-4'>
          <h6 class='my-0 py-0 color-yellow'><strong>WORK ORDER:</strong></h6>
          <h3 class='my-0 py-0'><strong>{{TaskCtrl.jobcard['woNo'] | uppercase}}</strong></h3>
        </li>
        <li class='list-inline-item mr-1 w-50 align-top mr-4'>
          <h6 class='my-0 py-0 color-yellow'><strong>A/C REG:</strong></h6>
          <h3 class='my-0 py-0'><strong>9V-STP</strong></h3>
        </li>
        <li class='list-unstyled-item mr-1 align-top mt-1'>
          <h6 class='my-0 py-0 color-yellow'><strong>TITLE:</strong></h6>
          <h3 class='my-0 py-0'><strong>{{TaskCtrl.jobcard['title'] | uppercase}}</strong></h3>
        </li>
      </ul>
      <hr />
    </div>
    <div class="row d-none d-lg-block">
      <ul class='list-inline color-white mt-5'>
        <li class='list-inline-item mr-1 mt-0 w-5 align-top mr-4'>
          <strong><i class='fas fa-clipboard-list fa-3x'></i></strong>
        </li>
        <li class='list-inline-item mr-1 w-20 align-top mr-4'>
          <h5 class='my-0 py-0 color-yellow'><strong>WORK ORDER:</strong></h5>
          <h2 class='my-0 py-0'><strong>{{TaskCtrl.jobcard['woNo'] | uppercase}}</strong></h2>
        </li>
        <li class='list-inline-item mr-1 w-10 align-top'>
          <h5 class='my-0 py-0 color-yellow'><strong>A/C REG:</strong></h5>
          <h2 class='my-0 py-0'><strong>9V-STP</strong></h2>
        </li>
        <li class='list-unstyled-item mr-1 w-50 align-top'>
          <h5 class='my-0 py-0 color-yellow'><strong>TITLE:</strong></h5>
          <h2 class='my-0 py-0'><strong>{{TaskCtrl.jobcard['title'] | uppercase}}</strong></h2>
        </li>
      </ul>
      <hr />
    </div>
    <ul class='list-group mt-3' ng-repeat='task in TaskCtrl.listOfJC | taskFilter: TaskCtrl.filters' ng-controller='ToolController as ToolCtrl'>
        <!-- Title -->
        <li class='list-group-item'
          ng-class='{"list-group-item-info" : task["status"] == 0,
                      "list-group-item-success" : task["status"] === 1,
                      "list-group-item-warning" : task["status"] === 2}'>
          <div class='row'>
            <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
              <h3>
                <span class='label label-warning' ng-show='task["ammRef"] != ""'>TASK REF: {{task['ammRef']}}</span>
                <span class='label label-warning' ng-show='task["ammRef"] == ""'>TASK: </span>
              </h3>
              <h3><strong>{{task['desc'] | uppercase}}</strong></h3>
            </div>
          </div>
        </li>
        <!-- Tools -->
        <li class='list-group-item'
          ng-init='ToolCtrl.FindTools(task["id"])'
          ng-show='ToolCtrl.toolList.length > 0'>
          <div class='container-fluid d-lg-none d-md-none'>
            <h5><strong>FIXTURES. TOOLS, TEST AND SUPPORT EQUIPMENT :</strong></h5>
            <ul class='list-inline'>
              <li class='list-inline-item' ng-repeat='tool in ToolCtrl.toolList'>
                <div class="media">
                  <div class="media-left media-middle">
                    <i class='fas fa-wrench fa-2x' ng-show='tool.nextBook.toUpperCase() == ("Available").toUpperCase()'></i>
                    <i class='fas fa-exclamation-circle fa-2x' ng-show='tool.nextBook.toUpperCase() != ("Available").toUpperCase()'></i>
                  </div>
                  <div class="media-body">
                    <h4><strong>{{tool.name}}</strong></h4>
                    <h4>{{tool.partNo}}</h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <table class='table d-md-block d-none'>
            <thead>
              <tr class='active'>
                <th></th>
                <th>
                  <h5><strong>FIXTURES. TOOLS, TEST AND SUPPORT EQUIPMENT</strong></h5>
                </th>
                <th>
                  <h5><strong>PART NO</strong></h5>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='tool in ToolCtrl.toolList'>
                <td class='text-center'>
                  <h3>
                    <i class='fas fa-wrench' ng-show='tool.nextBook.toUpperCase() == ("Available").toUpperCase()'></i>
                    <i class='fas fa-exclamation-circle' ng-show='tool.nextBook.toUpperCase() != ("Available").toUpperCase()'></i>
                  </h3>
                </td>
                <td>
                  <h3>{{tool.name}}</h3>
                </td>
                <td class='text-center'>
                  <h3>{{tool.partNo}}</h3>
                </td>
              </tr>
            </tbody>
          </table>
        </li>
        <!-- Dates -->
        <li class='list-group-item'>
          <div class='row'>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
              <h5><strong>START:</strong></h5>
              <h3><strong>{{task["startDate"] | hideIfEmpty: 'dd MMM yyyy hh:mm:ss a'}}</strong></h3>
            </div>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
              <h5><strong>END:</strong></strong></h5>
              <h3><strong>{{task["endDate"] | hideIfEmpty: 'dd MMM yyyy hh:mm:ss a'}}</strong></h3>
            </div>
          </div>
        </li>
        <li class='list-group-item'>
          <div class='d-lg-none text-center'>
            <ul class='list-inline'>
              <li class='list-inline-item'>
                <a class='btn btn-info btn-block btn-lg'
                  title='MANUAL'
                  ng-href='smarteredoc://?BASE=A320%25DOC=AMM%25ATA={{task["ammRef"]}}'>
                  <i class='fas fa-info-circle fa-2x'></i>
                </a>
              </li>
              <li class='list-inline-item'>
                <button class='btn btn-info btn-block btn-lg d-lg-none'
                  ng-click="ToolCtrl.BookToolManual(task['id'])"
                  class="btn btn-primary btn-modal-action"
                  name="login"
                  value="submit"
                  ng-show='ToolCtrl.toolList != null && ToolCtrl.toolList.length > 0'>
                  <i class='fas fa-briefcase fa-2x'></i>
                </button>
              </li>
              <li class='list-inline-item' ng-show='task["status"] != 0'>
                <button class='btn btn-info btn-block btn-lg'
                  title='ADD FINDING'
                  ng-click='TaskCtrl.AddFinding(task, "PHOTO")'>
                  <i class='fas fa-edit fa-2x'></i>
                </button>
              </li>
              <li class='list-inline-item'>
                <button class='btn btn-danger btn-block btn-lg'
                  ng-click='TaskCtrl.UpdateStatus(task)'
                  ng-if='task["status"] === 0'>
                  <i class='fas fa-play-circle fa-2x'></i>
                </button>
                <button class='btn btn-warning btn-block btn-lg'
                  ng-click='TaskCtrl.UpdateStatus(task)'
                  ng-if='task["status"] === 2'>
                  <i class='fas fa-check-square fa-2x'></i>
                </button>
              </li>
            </ul>
          </div>

          <div class='row d-none d-lg-block'>
            <div class='col-lg-2 col-md-3 col-sm-3 col-xs-3 pull-right' ng-show='task["status"] != 1'>
              <button type='button'
                class='btn btn-block btn-lg'
                ng-click='TaskCtrl.UpdateStatus(task)'
                ng-class='{"btn-danger" : task["status"] === 0,
                            "btn-warning" : task["status"] === 2}'>
                <ul class='list-inline' ng-show='task["status"] === 0'>
                  <li class='list-inline-item'>
                    <i class='fas fa-play-circle fa-2x'></i>
                  </li>
                  <li class='list-inline-item text-left' ng-if='task["status"] === 0'>
                    <h4><strong>START<br />TASK</strong>
                  </li>
                </ul>
                <ul class='list-inline' ng-show='task["status"] === 2'>
                  <li class='list-inline-item'>
                    <i class='fas fa-check-square fa-2x'></i>
                  </li>
                  <li class='list-inline-item text-left' ng-if='task["status"] === 2'>
                    <h4><strong>FINISH<br />TASK</strong>
                  </li>
                </ul>
              </button>
            </div>
            <div class='col-lg-2 col-md-3 col-sm-3 col-xs-3 pull-right' ng-show='task["status"] != 0'>
              <button class='btn btn-info btn-block btn-lg'
                title='ADD FINDING'
                ng-click='TaskCtrl.AddFinding(task, "PHOTO")'>
                <ul class='list-inline'>
                  <li class='list-inline-item'><i class='fas fa-edit fa-2x'></i></li>
                  <li class='list-inline-item text-left'><h4><strong>REPORT<br />FINDINGS</strong></h4></li>
                </ul>
              </button>
            </div>
            <div class='col-lg-2 col-md-3 col-sm-3 col-xs-3 pull-right' ng-show='task["ammRef"] != ""'>
              <a class='btn btn-info btn-block btn-lg'
                title='MANUAL'
                ng-href='smarteredoc://?BASE=A320%25DOC=AMM%25ATA={{task["ammRef"]}}'>
                <ul class='list-inline'>
                  <li class='list-inline-item'><i class='fas fa-info-circle fa-2x'></i></li>
                  <li class='list-inline-item text-left'><h4><strong>CHECK<br />MANUAL</strong></h4></li>
                </ul>
              </a>
            </div>


            <div class='col-lg-2 col-md-3 col-sm-3 col-xs-3 pull-right' ng-show='task["status"] === 0'>
              <form role="form" name="login" id="login-{{task['id']}}" class="form-horizontal" method="post"
                      action="{{ToolCtrl.action}}" target="_blank">
                <input type="hidden" id="email" name='email'
                  class="form-control"
                  placeholder="Username or Email"/>
                <input type="hidden" id="password" name='password'
                  class="form-control d-none"
                  placeholder="Password"/>
                <input type="hidden" id="resume" name='resume' ng-value="ToolCtrl.url"/>
                <button class='btn btn-info btn-block btn-lg'
                  ng-click="ToolCtrl.BookToolManual(task['id'])"
                  class="btn btn-primary btn-modal-action"
                  name="login"
                  value="submit"
                  ng-show='ToolCtrl.toolList != null && ToolCtrl.toolList.length > 0'>
                  <ul class='list-inline'>
                    <li class='list-inline-item'><i class="fas fa-briefcase fa-2x"></i></li>
                    <li class='list-inline-item text-left'><h4><strong>BOOK<br />TOOL</strong></h4></li>
                  </ul>
                </button>
              </form>
            </div>
          </div>
        </li>
    </ul>
  </div>
</div>
