<!-- /* Copyright (C) Airbus Singapore Pte Ltd - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Hangar of The Future Team

 * This view is no longer in use as the tool list has been integrated with the task view
 */ -->

<!-- <div class='container' ng-controller='ToolController as vm'>
  <table class='table'>
    <thead>
    <tr>
      <th class='col-md-1'><h4><input type='checkbox' name='tool' /></h4></th>
      <th class='col-md-3'>
       <h4><strong>TOOL NAME</strong></h4>
      </th>
      <th class='col-md-4'>
       <h4><strong>PART NO</strong></h4>
      </th>
      <th class='col-md-4'>
       <h4><strong>AVAILABILITY</strong></h4>
      </th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat='tool in vm.toolList'>
        <td class='col-md-1'><h4><input type='checkbox' name='tool' /></h4></td>
        <td class='col-md-3'>
          <h4>{{tool.name}}</h4>
        </td>
        <td class='col-md-4'>
          <h4>{{tool.partNo}}</h4>
        </td>
        <td class='col-md-4'>
          <h4><span class='label label-info' ng-if='tool.nextBook.toUpperCase() != ("Available").toUpperCase()'>
           {{tool.nextBook | date: 'dd MMM yyyy @ h:mma'}}
          </span><h4>
          <h4><span class='label label-info' ng-if='tool.nextBook.toUpperCase() == ("Available").toUpperCase()'>
           {{tool.nextBook}}
          </span><h4>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
<div class='modal-header'>
  <div class='modal-title'>
    <span class='text-md'>TOOL AVAILABILITY</span>
    <button type='button' class='close' ng-click='vm.Close()' aria-hidden='true'>&times;</button>
  </div>
</div>
<div class='modal-body' id='modal-body'>
  <table class='table'>
    <thead>
      <tr>
        <th class='col-md-1'><h3><input type='checkbox' name='tool' /></h3></th>
        <th class='col-md-3'>
          <h3><strong>TOOL NAME</strong></h3>
        </th>
        <th class='col-md-4'>
          <h3><strong>PART NO</strong></h3>
        </th>
        <th class='col-md-4'>
          <h3><strong>AVAILABILITY</strong></h3>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='tool in vm.toolList'>
        <td class='col-md-1'><h3><input type='checkbox' name='tool' /></h3></td>
        <td class='col-md-3'>
          <h3>{{tool.name}}</h3>
        </td>
        <td class='col-md-4'>
          <h3>{{tool.partNo}}</h3>
        </td>
        <td class='col-md-4'>
          <h3><span class='label label-info' ng-if='tool.nextBook.toUpperCase() != ("Available").toUpperCase()'>
            {{tool.nextBook | date: 'dd MMM yyyy @ h:mma'}}
          </span><h3>
          <h3><span class='label label-info' ng-if='tool.nextBook.toUpperCase() == ("Available").toUpperCase()'>
            {{tool.nextBook}}
          </span><h3>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class='modal-footer'>
  <form role="form" name="login" id="login" class="form-horizontal" method="post"
          action="{{vm.action}}" target="_blank">
    <input type="hidden" id="email" name='email'
      class="form-control" ng-value="vm.email"
      placeholder="Username or Email"/>
    <input type="hidden" id="password" name='password'
      class="form-control" ng-value="vm.password";
      placeholder="Password"/>
    <input type="hidden" id="resume" name='resume' ng-value="vm.url"/>
    <button
      type="submit"
      class="btn btn-primary btn-modal-action"
      name="login"
      value="submit"
      ng-disabled='vm.toolList == null || vm.toolList.length <= 0'>BOOK TOOL</button>
  </form>
</div>
