<!-- /* Copyright (C) Airbus Singapore Pte Ltd - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Hangar of The Future Team
 */ -->
<div class='container task-card mx-auto color-white' ng-controller='JobcardController as JobcardCtrl'>
  <div class='row task-header'>
    <div class='col-lg-8 col-md-7 col-sm-12 col-xs-12 d-none d-lg-block'>
      <h2><strong><span class='color-yellow'>{{JobcardCtrl.listOfJC.length}}</span> JOBCARD(S)</strong></h2>
    </div>
    <div class='col-lg-4 col-md-5 col-sm-12 col-xs-12 mt-2 d-none d-lg-block'>
      <form class="form-inline">
        <div class="input-group pull-right">
          <div class="input-group-addon">
            <i class="fa fa-binoculars fa-2x"></i>
          </div>
          <input type="text" class="form-control form-md" placeholder="SEARCH JOBCARD" aria-label="Search" ng-model="searchValue">
        </div>
      </form>
    </div>
    <div class='col-lg-4 col-md-5 col-sm-12 col-xs-12 mt-2 d-lg-none'>
      <form class="form-inline">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-binoculars fa-2x"></i>
          </div>
          <input type="text" class="form-control form-md" placeholder="SEARCH JOBCARD" aria-label="Search" ng-model="searchValue">
        </div>
      </form>
    </div>
  </div>
  <div class='row task-content'>
    <!-- <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2'> -->
      <ul class='list-unstyled mb-5'>
        <li class='list-unstyled-item' ng-repeat='jobcard in JobcardCtrl.listOfJC | filter : {$: searchValue}'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <ul class='list-inline'>
              <li class='list-inline-item mr-2'><i class='fas fa-clipboard-list fa-2x'></i></li>
              <li class='list-inline-item'>
                <h4>{{jobcard['woNo']}}</h4>
              </li>
              <li class='list-inline-item'>
                <h4>|</h4>
              </li>
              <li class='list-inline-item'>
                <h4>9V-STP</h4>
              </li>
              <li class='list-inline-item'>
                <h4>|</h4>
              </li>
              <li class='list-inline-item'>
                <h4>{{jobcard['total_task_count']}} TASK (S)</h4>
              </li>
              <li class='list-inline-item'>
                <h4>|</h4>
              </li>
              <li class='list-inline-item'>
                <ul class='list-inline'>
                  <li class='list-inline-item'><h3><span class='label label-danger'>{{(100 - jobcard["completed"] - jobcard["progress"]) * jobcard['total_task_count'] / 100 | number: 0}}</span></h3></li>
                  <li class='list-inline-item'><h3><span class='label label-warning'>{{(jobcard["progress"] * jobcard['total_task_count']) / 100 | number: 0}}</span></h3></li>
                  <li class='list-inline-item'><h3><span class='label label-success'>{{(jobcard["completed"] * jobcard['total_task_count']) / 100 | number: 0}}</span></h3></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class='col-lg-7 col-md-7 col-sm-8 col-xs-12 d-none d-lg-block'>
            <h2><strong>{{jobcard['title'] | uppercase}}</strong></h2>
          </div>
          <div class='col-lg-7 col-md-7 col-sm-8 col-xs-12 d-lg-none'>
            <h3><strong>{{jobcard['title'] | uppercase}}</strong></h3>
          </div>
          <div class='col-lg-5 col-md-5 col-sm-4 col-xs-12 align-right-lg'>
            <ul class='list-inline'>
              <li class='list-inline-item'>
                <button type='button' class='btn btn-primary btn-block btn-lg d-none d-lg-block' title='View Findings' ng-click='JobcardCtrl.PreviewReport(jobcard["id"], jobcard["completed"])'>
                  <ul class='list-inline'>
                    <li class='list-inline-item'><i class='fas fa-file-alt fa-3x'></i></li>
                    <li class='list-inline-item text-left'><strong>VIEW<br />FINDINGS</strong></li>
                  </ul>
                </button>

                <button type='button' class='btn btn-primary btn-block btn-lg d-lg-none' title='View Findings' ng-click='JobcardCtrl.PreviewReport(jobcard["id"], jobcard["completed"])'>
                  <i class='fas fa-file-alt fa-2x'></i>
                </button>
              </li>
              <li class='list-inline-item'>
                <button type='button' class='btn btn-success btn-block btn-lg d-none d-lg-block' title='View Tasks'
                  ng-click='JobcardCtrl.DisplayTasks(jobcard)'>
                  <ul class='list-inline'>
                    <li class='list-inline-item d-none d-lg-block'><i class='fas fa-tasks fa-3x'></i></li>
                    <li class='list-inline-item text-left'><strong>VIEW<br />TASKS</strong></li>
                  </ul>
                </button>

                <button type='button' class='btn btn-success btn-block btn-lg d-lg-none' title='View Tasks'
                  ng-click='JobcardCtrl.DisplayTasks(jobcard)'>
                  <i class='fas fa-tasks fa-2x'></i>
                </button>
              </li>
            </ul>
          </div>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'
            ng-show='($index != JobcardCtrl.listOfJC.length - 1)'><hr /></div>
        </li>
      </ul>
    <!-- </div> -->
  </div>
</div>
