<!-- /* Copyright (C) Airbus Singapore Pte Ltd - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Hangar of The Future Team
 */ -->
<div class='modal-header'>
  <div class='modal-title'>
    <span class='text-lg'>DEFECT DECLARATION</span>
    <button type='button' class='close' ng-click='vm.Close()' aria-hidden='true'>&times;</button>
  </div>
</div>
<div class='modal-body' id='modal-body'>
  <div class='container-fluid modal-body-content'>
    <div class='row' ng-show='vm.formPage == 1'>
      <div class='col-md-6'>
        <div class='input-group mb-2'>
          <span class="input-group-addon"><i class='glyphicon glyphicon-plane text-md'></i></span>
          <!-- <input id='ac-reg' class='form-control form-md' type='text' placeholder='Aircraft registration'></input> -->
          <select id='ac-reg' class='form-control form-md' ng-model='vm.acReg'>
            <option disabled selected>Aircraft Registration</option>
            <!-- <option ng-repeat='ac in vm.acreg' ng-value='ac["Reg_ID"]'>{{ac['Reg_Registration']}}</option> -->
            <option ng-value='10020'>9V-STP</option>
          </select>
        </div>
        <div class='input-group mb-2'>
          <span class="input-group-addon"><i class='glyphicon glyphicon-flag text-md'></i></span>
          <select id='zone' class='form-control form-md'>
            <option selected disabled>Select the aircraft zone</option>
            <option>Not Applicable</option>
            <option>100 - Lower Fuselage</option>
            <option>200 - Upper Fuselage</option>
            <option>300 - Empennage</option>
            <option>400 - Engine/Pylon</option>
            <option>500 - Left Wing</option>
            <option>600 - Right Wing</option>
            <option>700 - Landing Gear</option>
            <option>800 - Doors</option>
          </select>
        </div>
        <div class='input-group mb-2'>
          <span class="input-group-addon"><i class='glyphicon glyphicon-calendar text-md'></i></span>
          <input id='date' type='text' class='form-control form-md' ng-value='vm.today' disabled>
        </div>
      </div>
      <div class='col-md-6'>
        <div class='input-group mb-2'>
          <span class="input-group-addon"><i class='glyphicon glyphicon-edit text-md'></i></span>
          <textarea id='desc' class='form-control form-hg' ng-model='vm.findingDesc'></textarea>
        </div>
      </div>
    </div>
    <div class='row' ng-show='vm.formPage == 2'>
      <div class='col-md-6 mb-3' ng-repeat='photo in vm.photoMgr.GetAll()'>
        <img data-ng-src='{{"data:" + photo["type"] + ";base64," + photo["data"]}}' class='img-rounded img-preview'
               ng-click='vm.SelectPhoto(photo)' ng-class='{"active" : vm.IsPhotoSelected(photo)}' />
      </div>
    </div>
  </div>
</div>
<div class='modal-footer'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-lg-6 col-md-6'>
        <div class='alert alert-info text-left' ng-show='vm.message != ""'>{{vm.message}}</div>
      </div>
      <!-- <div class='col-lg-3 col-md-3 text-right'>
        <button type='button' class='btn btn-primary btn-md' ng-click='vm.formPage = 2' ng-show='vm.formPage == 1'
          ng-disabled='vm.submit == true'>
          <ul class='list-inline my-0 py-0'>
            <li class='list-inline-item'><i class="fas fa-plus-square fa-3x"></i></li>
            <li class='list-inline-item text-left'><h4><strong>ADD<br />FINDINGS</strong></li>
          </ul>
        </button>
      </div> -->
      <div class='col-lg-6 col-md-6 text-right'>
        <button type='button' class='btn btn-primary btn-md'
          ng-click='vm.formPage = 2'
          ng-show='vm.formPage == 1'
          ng-disabled='vm.submit == true'>
          <ul class='list-inline my-0 py-0'>
            <li class='list-inline-item'><i class="fas fa-plus-square fa-3x"></i></li>
            <li class='list-inline-item text-left'><h4><strong>ADD<br />FINDINGS</strong></li>
          </ul>
        </button>
        <button type='button' class='btn btn-primary btn-md'
          ng-click='vm.formPage = 1'
          ng-show='vm.formPage == 2'
          ng-disabled='vm.submit == true'>
          <ul class='list-inline my-0 py-0'>
            <li class='list-inline-item'><i class="fas fa-chevron-circle-left fa-3x"></i></li>
            <li class='list-inline-item text-left'><h4><strong>BACK TO<br />DETAILS</strong></li>
          </ul>
        </button>
        <button type='button' class='btn btn-primary btn-md'
          ng-click='vm.Submit()'
          ng-show='vm.formPage == 2'
          ng-disabled='vm.submit == true'>
          <ul class='list-inline my-0 py-0'>
            <li class='list-inline-item'><i class="fas fa-pen-square fa-3x"></i></li>
            <li class='list-inline-item text-left'><h4><strong>SUBMIT<br />FINDINGS</strong></li>
          </ul>
        </button>
      </div>
    </div>
  </div>
</div>
