<!-- /* Copyright (C) Airbus Singapore Pte Ltd - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Hangar of The Future Team
 */ -->

<div class='dashboard' ng-controller='DashboardController as dashCtrl'>
  <div class='container header'>
    <div class='row color-white'>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
        <ul class='list-unstyled'>
          <li class='list-unstyled-item d-none d-lg-block'>
            <img id='airbus-logo-mini' src="../../assets/images/airbus.png" />
          </li>
          <li class='list-unstyled-item d-lg-none'>
            <h2><strong>AIRBUS</strong></h2>
          </li>
        </ul>
      </div>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right'>
        <div class='d-none d-lg-block'>
          <h3 class='my-0'><strong>HANGAR OF THE FUTURE</strong></h3>
          <h4 class='color-yellow mt-1'><strong><i>SMART  MOBILITY APPLICATION</i></strong></h4>
        </div>
        <div class='d-lg-none mt-2'>
          <a class='btn btn-default dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>
            <i class='fas fa-bars fa-2x'></i>
          </a>
          <ul class='dropdown-menu dropdown-menu-right'>
            <li><a ng-click='dashCtrl.LogOut()'><h3><i class='fas fa-power-off'></i> SIGN OUT</h3></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class='row color-white d-lg-block d-none'>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
        <ul class='list-unstyled'>
          <li class='list-unstyled-item'>
            <ul class='list-inline'>
              <li class='list-inline-item'><i class="fas fa-user-circle fa-2x"></i></li>
              <li class='list-inline-item'>
                <h3><strong>{{dashCtrl.greetings | uppercase}}</strong></span></h3>
              </li>
            </ul>
          </li>
          <li class='list-unstyled-item'>
            <h4 class='my-0'><strong>{{dashCtrl.date | uppercase}}</strong></h4>
          </li>
        </ul>

      </div>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right'>
        <ul class='list-inline d-lg-block d-none'>
          <li class='list-inline-item'>
            <a type='button' class='btn btn-primary btn-sq' title='Sign Out' ng-click='dashCtrl.LogOut()'>
              <i class='fas fa-power-off fa-2x'></i>
              <strong><br/>SIGN<br/>OUT</strong>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class='content' ui-view></div>
</div>
