<!-- /* Copyright (C) Airbus Singapore Pte Ltd - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Hangar of The Future Team
 */ -->
<div class='container' id='login-page' ng-controller='LoginController as loginCtrl'>
  <div class='row'>
    <div class='col-lg-4 col-md-6 col-sm-6 mx-auto text-center color-white mb-5'>
      <img class='img-responsive' src='../../assets/images/airbus.png' />
    </div>
  </div>
  <div class='row mb-5' id='hangar-title'>
    <div class='col-lg-12 col-md-12 col-sm-12 text-center color-white mb-2'>
      <h1>[ HANGAR OF THE FUTURE ]</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-12 col-md-12 col-sm-12 text-center color-white mb-5'>
      <h1><strong>SMART MOBILITY APPLICATION</strong></h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-4 col-md-6 col-sm-6 mx-auto'>
      <div class='input-group mb-2 text-center'>
        <span class="input-group-addon"><i class='glyphicon glyphicon-user text-lg'></i></span>
        <input id='email' class='form-control form-lg text-md' type='email' placeholder='EMAIL ID' ng-model='loginCtrl.email' required></input>
      </div>
      <div class='input-group mb-2 text-center'>
        <span class="input-group-addon"><i class='glyphicon glyphicon-lock text-lg'></i></span>
        <input id='password' class='form-control form-lg' type='password' placeholder='PASSWORD' ng-model='loginCtrl.password' required></input>
      </div>
      <div class='alert alert-danger mb-2' ng-show='loginCtrl.error != ""'>
        <h4>{{loginCtrl.error}}</h4>
      </div>
      <div class='input-group input-group-lg mb-2 col-centered'>
        <button id='login' type='submit' class='btn btn-primary text-lg' ng-click='loginCtrl.Authenticate()' ng-disabled='loginCtrl.email == ""'>LOG-IN</button>
        <button id='reset' type='reset' class='btn btn-default text-lg' ng-click='loginCtrl.Reset()'>RESET</button>
      </div>
    </div>
  </div>
</div>
