<!-- /* Copyright (C) Airbus Singapore Pte Ltd - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Hangar of The Future Team
 */ -->
<div class='modal-header'>
  <div class='modal-title'>
    <span ng-switch='vm.state'>
      <span class='text-lg' ng-switch-when='0'>CAMERA</span>
      <span class='text-lg' ng-switch-when='1'>PHOTO EDITOR</span>
    </span>
    <button type='button' class='close' ng-click='vm.Close()' aria-hidden='true'>&times;</button>
  </div>
</div>
<div class='modal-body' id='modal-body'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-md-12 text-center'>
        <div ng-if='vm.state === 0'>
          <webcam channel='vm.webcam.channel'
                  on-streaming='vm.webcam.onSuccess()'
                  on-error='vm.webcam.onError(err)'
                  on-stream='vm.webcam.onStream(stream)'></webcam>
          <canvas ng-hide='true' id='snapshot' width='200' height='200'></canvas>
        </div>
        <div ng-if='vm.state === 1' class='col-centered'
          drawing
          selected='vm.currentId'
          cmd='vm.cmd'
          color='vm.color'
          choose='vm.chooseColor'
          close-fn='vm.CloseDirFunction(func)'>
        </div>
      </div>
    </div>
    <div class='row mt-2 mx-auto' id='photo-preview'>
      <ul class='list-inline'>
        <li class='list-inline-item preview-panel' ng-repeat='photo in vm.photoMgr.GetAll()' >
          <a ng-click='vm.ChangeState(1); vm.currentId = $index'>
            <img data-ng-src='{{"data:" + photo["type"] + ";base64," + photo["data"]}}'
                class='img-rounded img-preview' ng-class='{"active" : vm.currentId == $index}' />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class='modal-footer' id='camera'>
  <div ng-switch='vm.state'>
    <div ng-switch-when='0'>
      <button type='button' class='btn btn-primary btn-lg' ng-click='vm.TakePhoto()'>
        <ul class='list-inline'>
          <li class='list-inline-item'><i class="fas fa-camera fa-2x"></i></li>
          <li class='list-inline-item text-left'><h4><strong>TAKE<br />PICTURE</strong></li>
        </ul>
      </button>
    </div>
    <div ng-switch-when='1'>
      <div class='btn-group'>
    		<button type='button' class='btn btn-primary btn-md' ng-click='vm.ChangeState(0); vm.cmd =""'><img src='assets/images/return.png' title='Back to camera' width='70px' /></button>
      </div>

      <div class='btn-group dropup' uib-dropdown>
        <button type='button' class='btn btn-primary btn-md' ng-click='vm.cmd = "select"' ng-class='{"active" : vm.cmd == "select"}'><img src='assets/images/select.png' title='Select' width='70px' /></button>
        <button type='button' class='btn btn-primary btn-md' ng-click='vm.cmd = "delete"'><img src='assets/images/delete-select.png' title='Delete selected shape' width='70px' /></button>
        <!-- <button type="button" class="btn btn-primary" ng-click='vm.cmd = "crop"' ng-class='{"active" : vm.cmd == "crop"}'><img src='images/crop.png' title='Crop to selection' width='50px' /></button> -->
    		<button type='button' class='btn btn-primary btn-md' uib-popover-template='"tpl.html"'
        popover-is-open='vm.cmd == "line" && vm.chooseColor == true'
        popover-append-to-body='true'
        ng-click='vm.cmd = "line"; vm.chooseColor = true; vm.color = 0;'
        ng-class='{"active" : vm.cmd == "line"}'>
          <img src='assets/images/line.png' title='Draw a line' width='70px' />
        </button>
        <button type='button' class='btn btn-primary btn-md' uib-popover-template='"tpl.html"'
        popover-is-open='vm.cmd == "circle" && vm.chooseColor == true'
        ng-click='vm.cmd = "circle"; vm.chooseColor = true; vm.color = 0;'
        popover-append-to-body='true'
        ng-class='{"active" : vm.cmd == "circle"}'>
          <img src='assets/images/circle.png' title='Draw a circle' width='70px' />
        </button>
        <button type='button' class='btn btn-primary btn-md' uib-popover-template='"tpl.html"'
        popover-is-open='vm.cmd == "rect" && vm.chooseColor == true'
        ng-click='vm.cmd = "rect"; vm.chooseColor = true; vm.color = 0;'
        popover-append-to-body='true'
        ng-class='{"active" : vm.cmd == "rect"}'>
          <img src='assets/images/rect.png' title='Draw a rectangle' width='70px' />
        </button>
        <button type='button' class='btn btn-primary btn-md' uib-popover-template='"tpl.html"'
        popover-is-open='vm.cmd == "type" && vm.chooseColor == true'
        ng-click='vm.cmd = "type"; vm.chooseColor = true; vm.color = 0;'
        popover-append-to-body='true'
        ng-class='{"active" : vm.cmd == "type"}'>
          <img src='assets/images/type.png' title='Add text' width='70px' />
        </button>
    	</div>

      <script type="text/ng-template" id="tpl.html">
        <div class='row'>
          <div class='col-md-6 mb-1'><button class='btn btn-success btn-block btn-lg text-md' ng-click='vm.SelectColor(1)'>&nbsp;&nbsp;</button></div>
          <div class='col-md-6 mb-1'><button class='btn btn-info btn-block btn-lg text-md' ng-click='vm.SelectColor(2)'>&nbsp;&nbsp;</button></div>
        </div>
        <div class='row'>
          <div class='col-md-6 mb-1'><button class='btn btn-default btn-inverse btn-block btn-lg text-md' ng-click='vm.SelectColor(0)'>&nbsp;&nbsp;</button></div>
          <div class='col-md-6 mb-1'><button class='btn btn-danger btn-block btn-lg text-md' ng-click='vm.SelectColor(3)'>&nbsp;&nbsp;</button></div>
        </div>
      </script>

      <div class='btn-group'>
        <button type='button' class='btn btn-primary btn-md' ng-click='vm.cmd = "save"'><img src='assets/images/save.png' title='Save edited photo' width='70px' /></button>
        <button type='button' class='btn btn-primary btn-md' ng-click='vm.cmd = "remove"'><img src='assets/images/delete.png' title='Delete photo' width='70px' /></button>
    	</div>
    </div>
</div>
