<!-- /* Copyright (C) Airbus Singapore Pte Ltd - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Hangar of The Future Team
 */ -->
<div class='modal-header'>
  <div class='modal-title'>
    <span ng-switch='vm.formPage'>
      <span class='text-lg' ng-switch-when='0'>FINDING(S)</span>
      <span class='text-lg' ng-switch-when='1'>ATTACH NEW FINDING(S)</span>
    </span>
    <button type='button' class='close' ng-click='vm.Close()' aria-hidden='true'>&times;</button>
  </div>
</div>
<div class='modal-body' id='modal-body'>
  <div class='container-fluid modal-body-content'>
    <div class='row' ng-show='vm.formPage == 0'>
      <div uib-alert ng-repeat='photo in vm.attached' class='alert-info' close='vm.RemoveFinding(photo)'>
        <ul class='list-inline'>
          <li class='list-inline-item'><img class='img-rounded' ng-src='{{photo["path"]}}' width='300' /></li>
          <li class='list-inline-item'><textarea class='form-control finding-desc' rows='5' cols='40'>{{photo["desc"]}}</textarea></li>
        </ul>
      </div>
    </div>
    <div class='row' ng-show='vm.formPage == 1' >
      <div class='col-md-6 mb-2' ng-repeat='photo in vm.photoMgr.GetAll()'>
        <img data-ng-src='{{"data:" + photo["type"] + ";base64," + photo["data"]}}' class='img-rounded img-preview'
               ng-click='vm.SelectPhoto(photo)' ng-class='{"active" : vm.IsPhotoSelected(photo)}' />
      </div>
    </div>
    <div class='row' ng-show='vm.formPage == 2'>
      <div uib-alert ng-repeat='photo in vm.selectedPhoto' class='alert-warning' close='vm.RemoveSelected(photo)'>
        <ul class='row list-inline'>
          <li class='list-inline-item col-md-5'><img data-ng-src='{{"data:" + photo["type"] + ";base64," + photo["data"]}}' class='img-thumbnail img-rounded'/></li>
          <li class='list-inline-item col-md-5'><textarea class='form-control finding-desc' ng-model='vm.desc[$index]' placeholder='Enter description for finding' rows='5' cols='40'></textarea></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class='modal-footer'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-lg-8 col-md-8'>
        <div class='alert alert-info text-left' ng-show='vm.message != ""'>{{vm.message}}</div>
      </div>
      <div class='col-lg-4 col-md-4 text-right'>
        <button type='button' class='btn btn-default btn-lg text-md' ng-click='vm.HandleCommand("BACK")' ng-show='vm.formPage == 2 || (vm.formPage == 1 && vm.attached.length > 0)' ng-disabled='vm.submit === true'>BACK</button>
        <button type='button' class='btn btn-primary btn-lg text-md' ng-click='vm.HandleCommand("ADD")' ng-show='vm.formPage == 0'>ADD</button>
        <button type='button' class='btn btn-primary btn-lg text-md' ng-class='{"disabled": (vm.selectedPhoto.length <= 0 && vm.selectedServerPhoto.length <= 0)}' ng-click='vm.HandleCommand("NEXT")' ng-show='vm.formPage == 1'>NEXT</button>
        <button type='button' class='btn btn-primary btn-lg text-md' ng-show='vm.formPage == 2' ng-click='vm.HandleCommand("SUBMIT")' ng-disabled='vm.submit === true'>SUBMIT</button>
      </div>
    </div>
  </div>
</div>
