<!-- /* Copyright (C) Airbus Singapore Pte Ltd - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Hangar of The Future Team
 */ -->
<div class='container task-card' ng-controller='ReportController as reportCtrl'>
  <div class='row task-header'>
    <div class='col-lg-4 col-md-4 col-sm-6 col-xs-6'>
      <a class='btn-link color-white' ui-sref='jobcard-supervisor'><h2><i class='fas fa-chevron-circle-left'></i> <strong>BACK</strong></h2></a>
    </div>
  </div>
  <div class='row task-content'>
    <div class='col-lg-3 col-md-3 col-sm-12 col-xs-12 mt-1'>
      <ul class='list-group'>
        <li class='list-group-item active'>
          <ul class='list-inline'>
            <li class='list-inline-item mr-2'><i class='fas fa-clipboard-list fa-2x'></i></li>
            <li class='list-inline-item'>
              <h3>{{reportCtrl.reportInfo['woNo']}}</h3>
            </li>
            <li class='list-inline-item'>
              <h3>|</h3>
            </li>
            <li class='list-inline-item'>
              <h3>9V-STP</h3>
            </li>
          </ul>
        </li>
        <li class='list-group-item'>
          <h3><strong>{{reportCtrl.reportInfo['title'] | uppercase}}</strong></h3>
        </li>
        <li class='list-group-item text-center d-none d-lg-block'>
          <button type='button' title='Submit report' class="btn btn-success btn-lg"
            ng-click='reportCtrl.SubmitReport(listofdetails, 1)'
            ng-disabled='reportCtrl.completed == null || reportCtrl.completed < 100'>
            <div class='row'>
              <div class='col-sm-3'><h4><i class='fas fa-clipboard-check fa-2x'></i></h4></div>
              <div class='col-sm-9 text-left'><h4><strong>SIGN<br />OFF</strong></h4></div>
            </div>
          </button>
        </li>
        <li class='list-group-item text-center d-lg-none'>
          <button type='button' title='Submit report' class="btn btn-success btn-lg"
            ng-click='reportCtrl.SubmitReport(listofdetails)'
            ng-disabled='reportCtrl.completed == null || reportCtrl.completed < 100'>
            <i class='fas fa-clipboard-check fa-2x'></i>
          </button>
        </li>
      </ul>
    </div>
    <div class='col-lg-9 col-md-9 col-sm-12 col-xs-12 mt-1'>
      <div class='panel panel-info' ng-repeat='task in reportCtrl.tasks'>
        <div class='panel-heading'>
          <div class='row panel-title'>
            <div class='col-md-9'>
              <h5><strong>TASK:</strong></h5>
              <h3><strong>{{task['desc'] | uppercase}}</strong></h3>
            </div>
            <div class='col-md-3'>
              <h2><span class='label label-warning pull-right text-sm'>{{task['findings'].length}} finding(s)</span></h2>
            </div>
          </div>
        </div>
        <div class='panel-body'>
          <div class='container-fluid' ng-repeat='finding in task["findings"]'>
            <!-- <div class="thumbnail"> -->
              <img ng-src="{{finding['path']}}">
              <div class="caption">
                <h3>{{finding['desc']}}</h3>
              </div>
            <!-- </div> -->
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
