body {
  font-family: 'Roboto', sans-serif;
}

.dashboard {
  background-color: #00205b;
  /* color: #ffffff; */
  min-height: 100vh;
  width: 100%;
}

#login-page {
  background-color: #222222;
  min-height: 100vh;
  width: 100%;
  padding-top: 5%;
}

#login-form {
  width: 650px;
}

#airbus-logo {
  width: 700px;
}

#hangar-title {
  background-color: #00205B;
}

.badge-lg {
  font-size: 30px;
}

.btn-top-nav {
  font-size: 15px;
  text-align: center;
  padding: 10px 20px;
}

.online-icon {
  color: #00FF7F;
}

.progress-bar-md {
  height: 30px;
  width: 100%;
  font-size: 25px;
  margin-bottom: 10px;
  margin-left: 15px;
  vertical-align: middle;
}

.text-sm {
  font-size: 1em;
}

.text-md {
  font-size: 2em;
}

.text-lg {
  font-size: 3em;
}

.text-hg {
  font-size: 5em;
}

.color-white {
  color: #FFFFFF;
}

.color-blue-transparent {
  color: RGBA(27,161, 226, 0.3);
}

.color-blue {
  color: #33B5E5;
}

.color-yellow {
  color: #FFBB33;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.py-0 {
  margin-bottom: 0;
  margin-top: 0;
}

.my-0 {
  margin-bottom: 0;
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.mb-4 {
  margin-bottom: 20px;
}

.mb-5 {
  margin-bottom: 25px;
}

.mr-1 {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 10px;
}

.mr-3 {
  margin-right: 15px;
}

.mr-4 {
  margin-right: 20px;
}

.ml-1 {
  margin-left: 5px;
}

.ml-2 {
  margin-left: 10px;
}

.ml-3 {
  margin-left: 15px;
}

.ml-4 {
  margin-left: 20px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 15px;
}

.mt-4 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 25px;
}

.mt-6 {
  margin-top: 30px;
}

.col-centered {
  margin: 0 auto;
  float: none;
}

.col-bordered {
  border: 2px solid black;
}

.col-right-border {
  border-right: 2px solid #fff;
}

.align-top {
  display: table-cell;
  vertical-align: top;
}

.align-middle {
  display: table-cell;
  vertical-align: middle;
}

.align-bottom {
  display: table-cell;
  vertical-align: bottom;
}

.mx-auto {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.form-md {
  height: 60px;
  font-size: 30px;
}

.form-lg {
  height: 80px;
  font-size: 40px;
}

.form-hg {
  height: 120px;
  font-size: 40px;
}

.panel-50 {
  width: 50%;
}

.panel-inline {
  display: inline-block;
}

.scroll-y-content {
  overflow-y: auto;
  height: 700px;
}

.btn-sq {
  min-width: 11rem !important;
  /* min-height: 5rem !important; */
  padding-top: 10px;
}

.btn-inverse {
  background-color: #000000;
  color: #ffffff;
}

.modal-header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color:  #00205b;
  color: #fff;
}

.close {
  color: #fff;
  opacity: 1;
  font-size: 60px;
}

.close:hover {
  color: #f00;
  opacity: 1;
}

.modal-defect {
  height: 500px;
}

.modal-camera {
  height: 600px;
}

.modal-body-content {
  max-height: 600px;
  overflow-y: auto;
}

.btn:focus {
  outline: none;
}

.btn-link {
  box-shadow: none;
}

.btn-link:hover {
  text-decoration: none;
  color: #33B5E5;
}

.btn-round {
  border-radius: 50%;
}

#camera {
  text-align: center;
}

#sketch {
  position: relative;
  /*border: 1px solid grey;*/
  border-radius: 4px;
}

#sketch-text {
  width: 500px;
  height: 105px;
  font-size: 44px;
  position: absolute;
}

#sketch-text input {
  height: 105px;
}

#sketch-text button {
  height: 105px;
}

#draw-tool {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0,0.2);
}

#canvas_buffer, .tmp {
  position: absolute;
  left: 0px; right: 0;
  bottom: 0; top: 0;
  cursor: crosshair;
}

#photo-preview {
  width: 95%;
  height: 150px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.preview-panel {
  width: 28%;
}

.img-preview {
  width: 100%;
}

.img-preview.active {
  padding: 1px;
  border: 2px solid #00205b;
}

/* page animations */
.content.ng-enter {
  transition: 0.5s linear all;
  opacity: 0;
}

.content.ng-enter-active {
  opacity: 1;
}

.dropdown-menu {
  margin-right: 0;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

input[type="file"] {
  display:none;
}

.custom-file-upload {
    /* border: 1px solid #ccc; */
    display: inline-block;
    padding: 0 2rem;
    cursor: pointer;
    color: #000000;
}
