/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 992px) {

  .d-lg-block {
    display: block;
  }

  .d-lg-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .d-md-none {
    display: none;
  }  

  #airbus-logo-mini {
    width: 200px;
  }

  .align-right-lg {
    text-align: right;
  }

  .header {
    width: 95%;
    margin: 0 auto;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 50;
    background-color: #00205b;
    padding-top: 2rem;
  }

  .task-card {
    width: 95%;
    padding-top: 20rem;
  }

  .task-header {
    width: 95%;
    margin: -2rem auto 0 auto;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: #555555;
  }

  .task-content {
    margin-top: 5rem;
  }

}
