/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {

  .header {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: #00205b;
  }

  .task-card {
    width: 100%;
    padding-top: 6rem;
  }

  .task-header {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 50;
    background-color: #555555;
    padding-bottom: 1rem;
  }

  .task-content {
    margin: 0 auto;
    width: 99%;
    margin-top: 8rem;
    padding-bottom: 2rem;
  }

}
