/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 1200px) {

  #airbus-logo-mini {
    width: 215px;
  }

  .align-right-lg {
    text-align: right;
  }

  .header {
    width: 85%;
    margin: 0 auto;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: #00205b;
    padding-top: 2rem;
  }

  .task-card {
    width: 85%;
    padding-top: 17.5rem;
  }

  .task-header {
    width: 85%;
    margin: 0 auto;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 50;
    background-color: #555555;
  }

  .task-content {
    margin-top: 7.5rem;
  }

}
